name: feature-nodejs-pipeline

on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      environment:
        required: true
        type: string

env:
  ACC_ID: 014641572640

jobs:
  feature-nodejs-pipeline:
    runs-on: ubuntu-latest   # ✅ FIXED

    steps:
    - name: checkout code
      uses: actions/checkout@v4   # ✅ FIXED

    - name: list files
      run: ls -l

    - name: get the version
      run: echo "APP_VERSION=${GITHUB_SHA::9}" >> "$GITHUB_ENV"

    - name: print inputs
      run: |
        echo ${{ inputs.project }}
        echo "version: ${APP_VERSION}"

    - name: install dependencies
      run: npm install

    - name: run unit tests
      id: unit_tests
      run: echo "run unit tests"

    - name: Update unit tests status
      if: always()
      uses: gokulpavan-999/workflows/.github/actions/update-commit-status@main  # ✅ FIXED
      with:
        sha: ${{ github.sha }}
        state: ${{ steps.unit_tests.outcome }}
        context: UNIT_TESTS
        description: ${{ steps.unit_tests.outcome }}
